<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>
<head th:replace="fragments/admin_header :: admin_header "/>

<body class="bg-dark">


<div class="container-fluid mt-5">
        <div class="bg-white  col-md-12 card text-center">
            <table class="table table-striped table-bordered mt-3">
                <thead class="bg-primary">
                <tr >
                    <th class="text-white">Elemző</th>
                    <th class="text-white" >Nyertes tippek</th>
                    <th class="text-white" >Tét visszajárt</th>
                    <th class="text-white" >Vesztes tippek</th>
                    <th class="text-white">Átlagos odds</th>
                    <th class="text-white">Profit (egység)</th>
                    <th class="text-white">ROI/Yield</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="staticItem : ${staticList}">
                 <form id="staticForm"></form>
                    <input form="staticForm" type="text" name="staticId" th:value="${staticItem.getStaticId()}" class="invisible"></input>
                    <tr>
                        <td><input form="staticForm"  type="text" name="player"  th:value="${staticItem.getPlayer()}" /> </td>
                        <td><input form="staticForm" type="text" name="wind" style="width: 50%;" th:value="${staticItem.getWind()}" /> </td>
                        <td><input form="staticForm" type="text" name="pback" style="width: 60%;" th:value="${staticItem.getPback()}" /> </td>
                        <td><input form="staticForm" type="text" name="losd"  style="width: 60%;" th:value="${staticItem.getLosd()}" /> </td>
                        <td><input form="staticForm" type="text" name="avg"  style="width: 60%;" th:value="${staticItem.getAvg()}" /> </td>
                        <td><input form="staticForm" type="text" name="profit"  style="width: 60%;" th:value="${staticItem.getProfit()}" /> </td>
                        <td><input form="staticForm" type="text" name="extra" style="width: 60%;"  th:value="${staticItem.getExtra()}" /> </td>
                    </tr>
                    <tr>
                        <td><input form="staticForm" type="text" name="player2"  th:value="${staticItem.getPlayer()}" /> </td>
                        <td><input form="staticForm" type="text" name="wind2" style="width: 50%;"  th:value="${staticItem.getWind()}" /> </td>
                        <td><input form="staticForm" type="text" name="pback2" style="width: 60%;" th:value="${staticItem.getPback()}" /> </td>
                        <td><input form="staticForm" type="text" name="losd2" style="width: 60%;" th:value="${staticItem.getLosd()}" /> </td>
                        <td><input form="staticForm" type="text" name="avg2" style="width: 60%;" th:value="${staticItem.getAvg()}" /> </td>
                        <td><input form="staticForm" type="text" name="profit2"  style="width: 60%;" th:value="${staticItem.getProfit()}" /> </td>
                        <td><input form="staticForm" type="text" name="extra2" style="width: 60%;"  th:value="${staticItem.getExtra()}" /> </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <div class="row  d-flex justify-content-end mb-2">
                <button class="col-md-4  mr-5 btn btn-success" type="submit" form="staticForm">Mentés</button>
            </div>
        </div>
</div>
<div class="container-fluid mt-3 mb-3">
    <div class="card">
        <div class="card-header">
            Módszertan felvitel
        </div>
        <div class="card-body">
            <form id="metho">
            <label class="control-label form-row">Gomb név</label>
            <input type="text" class="form-row form-control input-lg" form="metho" placeholder="Gomb név" name="button" required="required"/>
            <label class="control-label form-row">Módszertan leírása</label>
            <textarea form="metho" class="form-control form-row input-lg" rows="10" required="required" name="post"></textarea>
            </form>
            <div class="row">
                <div class="col-md-12 mt-3">
                    <button type="submit" class="btn btn-success float-right col-md-4" id="btn_add_metho" form="metho">Mentés</button>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<script type="text/javascript" src="/js_admin/settings.js"/>