<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>
<head th:replace="fragments/admin_header :: admin_header "/>

<body class="bg-dark">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12  col-xs-12 col-lg-12 col-md-12 mx-lg-auto mx-md-auto p-2 ">
            <h5 class="mt-2 float-left text-dark alert bg-white ">Felhasználók kezelése</h5>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item ml-2">
                    <a class="nav-link btn btn-success text-white" id="btn_add_category">Felvitel</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table id="dt_user" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email</th>
                    <th>Felhasználó</th>
                    <th>Név</th>
                    <th>REG ID</th>
                    <th>Status</th>
                    <th>Jogok</th>
                    <th>Csomag</th>
                    <th>Igényelve</th>
                    <th>Cím</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade"  id="myModal" aria-hidden="true"  data-backdrop="static">>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tipp felvitel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="DATA">
                    <div class="form-group">
                        <label class="control-label" for="input_username">Username</label>
                        <input type="text" class="form-control" id="input_username" aria-describedby="Name" placeholder="Felhasználó" required="required" name="input_username" form="DATA"/>
                        <label for="roles">Jogok</label>
                        <select class="form-row ml-2" id="roles">
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role.getId()}" th:text="${role.getRole()}"></option>
                            </th:block>
                        </select>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Bezárás</button>
                <button type="button" class="btn btn-success" id="btn_category_add" form="DATA">Felvitel</button>
            </div>
        </div>
    </div>
</div>




</body>
</html>
<script type="text/javascript" src="/js_admin/user.js"/>