<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-light">
<section class="min-vh-85">
<div class="container-fluid p-3 shadow-lg mb-3 d-flex justify-content-center bg-dark">
    <div class="col-md-10 bg-dark d-flex justify-content-center rounded p-2">
        <h2 class="text-white">Mindennap új tippekkel várunk</h2>
    </div>
</div>

<div class="container">
    <div class="row">
            <th:block th:each="tipp :${freeTipps} ">
            <div class="col-md-4  col-xs-12 col-lg-4 col-md-4 mx-lg-auto mx-md-auto p-2">
                <div class="card">
                    <img class="card-img-top" th:src="@{'/images/new2.png'}" alt="Card image cap"/>
                    <div class="card-body">
                        <div class="card-title">
                            <div class="text-center" th:text="${tipp.getPlayer1()}"></div>
                            <div class="text-center">-</div>
                            <div class="text-center" th:text="${tipp.getPlayer2()}"></div>
                        </div>
                        <div class="card-text p-2">
                            <p class="post" th:text="${tipp.getShort_description()}">

                            </p>
                        </div>
                        <a th:href="@{'/page/free/'+${tipp.getTipp_id()}}" class="btn btn-primary float-right p-2">Irány a tipphez</a>
                    </div>
                </div>
            </div>
            </th:block>
    </div>
</div>
</section>
<footer>
    <footer th:replace="fragments/footer :: myfooter"/>
</footer>
</body>


</html>