<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-light">

<div class="container-fluid p-3 shadow-lg mb-3 d-flex justify-content-center bg-dark">
    <div class="col-md-10 bg-dark d-flex justify-content-center rounded p-2">
        <h2 class="text-white" th:text="${tipp.getTitle()}"></h2>
    </div>
</div>

<div class="container-fluid" >
    <div class="bg-transparent shadow col-md-12 card text-center">
        <div class="card-body ">
            <div class="col-md-2 d-flex align-items-stretch float-left">
                <div class="col-md-12 text-center d-flex flex-column">
                        <span class="bg-dark get-class mt-1 text-white" th:text="${tipp.getPlayer1()}"></span> - <span class="bg-dark get-class mt-1 text-white" th:text="${tipp.getPlayer2()}"></span>
                </div>
            </div>
            <div class="col-md-10 d-flex align-items-stretch">
                <p class="post" id="p_post" th:text="${tipp.getDescription()}"></p>
            </div>
        </div>
    </div>
</div>

</body>
<footer th:replace="fragments/footer :: myfooter"/>
</html>