<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-light">
<section class="min-vh-85">
<div class="card text-center  col-md-3 mb-lg-5 float-left mt-5 shadow   rounded">
    <div class="bg-white p-2">
        <strong>Módszertan</strong>
    </div>
</div>

<div class="container-fluid" >
    <div class="bg-transparent shadow col-md-12 card text-center">
        <div class="card-body ">
            <div class="col-md-2 d-flex align-items-stretch float-left">
                <div class="col-md-12 text-center d-flex flex-column">
                <th:block th:each="button : ${buttons}">
                    <button class="btn btn-dark get-class mt-1" th:attr="data-id=${button.getMetho_id()}" th:text="${button.getButton_name()}"></button>
                </th:block>
                </div>
            </div>
            <div class="col-md-10 d-flex align-items-stretch">
                <p class="text-left" id="p_post" th:text="${fistMetho.getFull_post()}"></p>
            </div>
        </div>
    </div>
</div>

</section>
<footer th:replace="fragments/footer :: myfooter"/>
</body>
<script type="text/javascript" src="/js/metho.js"/>
</html>