<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-dark">



        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="modal-content col-md-6">
                    <div class="modal-body">
                        <form id="pay" class="p-2 m-2">
                            <label class="control-label" for="input_full_name">Teljes név</label>
                            <input class="form-row form-control" type="text" name="input_full_name" id="input_full_name" form="pay" required="required" placeholder="Teljes Név"/>
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label for="inputAddress">Lakcím</label>
                                    <input type="text" class="form-control" id="inputAddress" name="inputAddress" form="pay" required="required" placeholder="Utca, Házszám"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Város</label>
                                    <input type="text" class="form-control" id="inputCity" name="inputCity" form="pay" required="required" placeholder="Város"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputCountry">Megye</label>
                                    <input type="text" class="form-control" id="inputCountry" name="inputCountry" form="pay" required="required" placeholder="Megye"/>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-4">
                                    <label for="inputZip">Irányítószám</label>
                                    <input type="number" class="form-control" id="inputZip"  name="inputZip" form="pay" required="required" placeholder="1234"/>
                                </div>
                                <div class="form-group col-8 mt-3">
                                     <span id="span_zip" class="col-12 text-danger"></span>
                                </div>
                            </div>
                            <label class="control-label" for="input_username">Felhasználó név</label>
                            <input class="form-row form-control" type="text" name="input_username" id="input_username" form="pay" required="required" placeholder="felhasználónév"/>
                            <label class="control-label" for="input_password">Jelszó</label>
                            <input class="form-row form-control" type="password" name="input_password" id="input_password" form="pay" required="required"/>
                            <label class="control-label" for="input_password_again">Jelszó újra</label>
                            <input class="form-row form-control" type="password" name="input_password_again" id="input_password_again" form="pay" required="required"/>
                            <label class="control-label" for="input_email">Email</label>
                            <input class="form-row form-control" type="email" name="input_email" id="input_email" form="pay" required="required" placeholder="pelda@mail.hu"/>
                            <label class="control-label" for="input_membership">Csomag</label>
                            <select id="input_membership" class="form-control form-row" form="pay">
                            <th:block th:each="membership : ${memberships}">
                                <option th:value="${membership.getMembership_id()}" th:text="${membership.getName()}"/>
                            </th:block>
                            </select>
                            <div class="form-row pt-3">
                                <label class="box-container">ÁSzF elfogadása
                                    <input id="field_terms" class="form-row"  type="checkbox" form="pay"/>
                                    <span class="checkmark"></span>
                                </label>
                                <p id="p_aszf" class="ml-5"></p>
                            </div>
                            <button type="submit" class="btn btn-success mb-2"  form="pay">Mehet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>



<div class="modal fade " id="modal_succes_reg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content alert-light">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row   col-md-12 ml-2 mr-2 d-flex justify-content-center">
                   <span class="font-weight-bold alert alert-success">Sikeres a regisztrációd</span>
                    <p><strong>További információt, a kiküldött emailben találsz!</strong></p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="justify-content-center d-flex">Az alábbi regisztrációs kódot, jegyezd meg! Később még szükséged lesz rá!</h5>
                        <div class="col-md-12 justify-content-center d-flex">
                            <h5 class="font-weight-bolder alert alert-light text-black-50">Regisztráció kódod: </h5><span class="alert alert-warning" id="span_reg_id"/>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-5 font-weight-light">
                    <span >Amennyiben nem kapsz kódot, kérlek vedd fel velünk a kapcsolatot!</span>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Rendben</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/js/pay.js"/>
</body>
<footer th:replace="fragments/footer :: myfooter"/>
</html>