<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-dark">
<div class="container">
    <div class="row">
        <div class="col-md-12  col-xs-12 col-lg-12 col-md-12 mx-lg-auto mx-md-auto ">
            <h5 class="mt-4 alert bg-danger text-center">
                Tagság szükséges</h5>
        </div>
    </div>
</div>



<form th:action="@{/login}" method="POST" class="form-signin" id="form_login">
<div class="container border-white rounded-top  mt-5 pb-5">

    <div class="d-flex justify-content-center ">
        <div class="col-md-6  d-flex justify-content-start">
        <h3 class="bg-success p-2 pl-3 pr-5">Bejelentkezés</h3>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="col-md-6   d-flex justify-content-start p-2">
            <div class="col-md-6   d-flex justify-content-start p-2">
                <h4 class="text-white ml-2  col-md-8" th:text="Email"/>
            </div>
            <div class="col-md-6   d-flex justify-content-start p-2">

                <input type="text" id="username" name="username"  th:placeholder="username" class="form-control col-md-12" form="form_login"/>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="col-md-6   d-flex justify-content-start p-2">
            <div class="col-md-6 d-flex justify-content-start p-2">
                <h4 class="text-white col-md-8  ml-2" th:text="Jelszó"/>
            </div>
            <div class="col-md-6   d-flex justify-content-start p-2">
                <input type="password"  th:placeholder="Password" id="password" name="password" class="form-control col-md-12" form="form_login"/>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="col-md-6   d-flex justify-content-start p-2">
            <button class="btn btn-lg btn-light btn-block" name="Submit" value="Login" type="Submit" th:text="Bejelentkezés"></button>
        </div>
    </div>
    <div class="d-flex justify-content-center ">
        <div class="col-md-6   d-flex justify-content-start p-2">
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </div>
    </div>
</div>
</form>



</body>
<footer th:replace="fragments/footer :: myfooter"/>
</html>