<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-dark">
<header></header>
<main role="main">
<div class="container min-vh-40">
    <div id="generic_price_table">
        <section>
            <div class="container">

                <!--BLOCK ROW START-->
                <div class="row">
                    <th:block th:each="membership : ${membershipList}">
                    <div class="col-md-4 min-vh-40">

                        <!--PRICE CONTENT START-->
                        <div class="generic_content active clearfix">

                            <!--HEAD PRICE DETAIL START-->
                            <div class="generic_head_price clearfix">

                                <!--HEAD CONTENT START-->
                                <div class="generic_head_content clearfix">

                                    <!--HEAD START-->
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span th:text="${membership.getName()}"></span>
                                    </div>
                                    <!--//HEAD END-->

                                </div>
                                <!--//HEAD CONTENT END-->

                                <!--PRICE START-->
                                <div class="generic_price_tag clearfix">
                                <span class="price">
                                    <span class="currency" th:text="${membership.getPrice()+' Ft'}">199</span>
                                    <span class="month">/Hó</span>
                                </span>
                                </div>
                                <!--//PRICE END-->

                            </div>
                            <!--//HEAD PRICE DETAIL END-->

                            <!--FEATURE LIST START-->
                            <div class="generic_feature_list min-vh-40">
                                <ul>
                                    <li><span th:text="${membership.getMembership_description()}"></span></li>
                                </ul>
                            </div>
                            <!--//FEATURE LIST END-->

                            <!--BUTTON START-->
                            <div class="clearfix mb-4">
                                <a class="btn btn-price rounded-left rounded-right pl-3 pr-3 " th:href="${'/page/pay/'+membership.getMembership_id()}"  id="membership_id">MEGVESZEM</a>
                            </div>
                            <!--//BUTTON END-->

                        </div>
                        <!--//PRICE CONTENT END-->

                    </div>
                </th:block>
                </div>
            </div>
            <!--//BLOCK ROW END-->
    </section>
</div>
</div>

</main>
<footer th:replace="fragments/footer :: myfooter"/>
</body>
<script type="text/javascript" src="/js/pay.js"/>
</html>