<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>

<body class="bg-white">
<section class="min-vh-85">
<div class="card text-center  col-md-3 col-lg-4 col-sm-12 col-xs-12 mb-lg-5 float-left mt-5 shadow-sm   rounded">
    <div class="bg-white p-2">
        <strong>Statisztika</strong>
    </div>
</div>

<div class="container-fluid" >
    <div class="bg-white  col-12 col-sm-12 col-xs-12 card text-center">
        <table class="table table-striped table-bordered mt-3">
            <thead class="bg-primary">
            <tr >
                <th class="text-white">Elemző</th>
                <th class="text-white">Nyertes tippek</th>
                <th class="text-white">Tét visszajárt</th>
                <th class="text-white">Vesztes tippek</th>
                <th class="text-white">Átlagos odds</th>
                <th class="text-white">Profit (egység)</th>
                <th class="text-white">ROI/Yield</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="staticItem : ${staticList}">
            <tr>
                <td th:text="${staticItem.getPlayer()}"></td>
                <td th:text="${staticItem.getWind()}"></td>
                <td th:text="${staticItem.getPback()}"></td>
                <td th:text="${staticItem.getLosd()}"></td>
                <td th:text="${staticItem.getAvg()}"></td>
                <td th:text="${staticItem.getProfit()}"></td>
                <td th:text="${staticItem.getExtra()}"></td>
            </tr>
            <tr>
                    <td th:text="${staticItem.getPlayer2()}"></td>
                    <td th:text="${staticItem.getWind2()}"></td>
                    <td th:text="${staticItem.getPback2()}"></td>
                    <td th:text="${staticItem.getLosd2()}"></td>
                    <td th:text="${staticItem.getAvg2()}"></td>
                    <td th:text="${staticItem.getProfit2()}"></td>
                    <td th:text="${staticItem.getExtra2()}"></td>
            </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>
</section>
<footer th:replace="fragments/footer :: myfooter"/>
</body>
</html>