<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: myheader "/>
<body class="bg-light">
<section class="min-vh-85">
<div class="container-fluid p-3 shadow-lg d-flex justify-content-center bg-dark  mb-3">
    <div class="col-md-10 bg-dark d-flex justify-content-center rounded p-2">
        <h2 class="text-white">Aktuális bejegyzések</h2>
    </div>
</div>
<div class="container bg-light rounded shadow-lg">
    <div class="row p-2 mb-5">
       <th:block th:each="BlogPost : ${blogPosts}">
        <div class="col-md-4  col-xs-12 col-lg-4 col-md-4 mx-lg-auto mx-md-auto p-2">
            <div class="card">
                <img class="card-img-top" th:src="@{'images/new2.png'}" alt="Card image cap"/>
                <div class="card-body">
                    <div class="card-title">
                        <div class="text-center" th:text="${BlogPost.getPost_title()}"></div>
                    </div>
                    <div class="card-text p-2" th:text="${BlogPost.getShort_description()}"></div>
                    <a th:href="@{'/page/post/'+${BlogPost.getPost_id()}}" class="btn btn-green float-right p-2">Tovább a cikkhez</a>
                </div>
            </div>
        </div>
       </th:block>

    </div>
</div>
</section>
<footer th:replace="fragments/footer :: myfooter"/>
</body>
</html>